html, body{
  max-width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* .site-container {
  margin: 0 auto;
} */

/* TYPOGRAPHY */
html {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 16px;
}


h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.logo-text {
  font-family: 'Raleway', sans-serif;
}

.menu .copyright .footer-links {
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 0.8rem;
  }
}

/* END OF TYPOGRAPHY */


/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.logo-text {
  display: flex;
  align-items: center;
  margin-left: 24px;
  height: 32px;
  font-size: 1.5rem;
}

.menu {
  margin-right: 24px;
}

li {
  text-decoration: none;
  display: inline;
  padding: 16px;
}

.mobile-nav {
  display: none;
}
/* END OF NAVIGATION */

/* MOBILE NAVIGATION */
@media only screen and (max-width: 770px) {
  .nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid lightgray;
  }
  .mobile-nav ul {
    margin: auto;
    padding: 1rem;
  }
}
/* END OF MOBILE NAVIGATION */




/*  MAIN HEADER */

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
  padding-top: 64px;
}

.image-box {
  margin: 32px 24px 32px 24px;
  width: 60%;
}

.image-box img {
  width:100%;
}

.text-box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #595959;
  max-width: 45%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.8rem;
}

.button:hover {
  background-color: #262626;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.4s ease-out 0s;
}
/*  END OF MAIN HEADER */

/*  MOBILE MAIN HEADER */
@media only screen and (max-width: 770px) {
  .top-container {
    display: flex;
    flex-direction: column;

  }

  .image-box {
    width:100%;
    margin: 0 0.5rem 0 0.5rem;
  }

  .text-box {
    text-align: center;
  }

  h2.button {
    align-self: center;
  }

  .button {
    padding: 0.7rem;
  }

}

/*  END OF MOBILE MAIN HEADER */


/*  INFORMATION SECTION */
.information-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 700px;
  width: 96.5%;
}

.information-main .image-box {
  margin: 32px 24px 32px 24px;
  width: 60%;
}

.information-main .image-box img {
  width:91%;
}


.small-box {
  display: flex;
  justify-content: center;
  width: 40%;
  border-bottom: 1px solid lightgray;
}

.small-box img {
  margin: 16px;
  display: block;
  width: 35%;
  height: 35%;
  /* width: 35%;
  height: auto;
  max-height: 35%; */
}

.small-box .text {
  width: 65%;
}

.small-box:hover {
  background-color: #EAEAEA;
  transition: all 0.3s ease 0s;
}


/*  END OF INFORMATION SECTION */


/*  START LEARNING SECTION */
.start-learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width:100%;
}

.header {
  margin-top: 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px 72px 32px 72px;
}

.learning-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 32px;
}

.learning-box img {
  width: 100%;
}

.learning-box-text {
  background-color: white;
  padding: 16px;
}
/*  END OF  LEARNING SECTION */

/* THESIS SECTION */
.thesis-exhibit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thesis-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 700px;
  width:100%;
}


.thesis-container .video-box {
  margin: 32px 24px 32px 24px;
  width: 60%;
}

.thesis-container .video-box video {
  width:91%;
}


/* END OF THESIS SECTION */

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

.copyright {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-top: 16px;
}

.footer-links {
  margin-right: 24px;
}

.footer-links li {
  text-decoration: none;
  display: inline;
  padding: 16px;
}

/* END OF FOOTER */
